.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    /* margin: 50px 100px; */
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;;
    width: 60px;
    height: 20px;
}

/* esercizio 1 */
.ex-1-square {
  transition: background-color 0.8s ease-in-out 0s;
}
.ex-1-square:hover {
  background-color: red;
}
/* /esercizio 1 */

/* esercizio 2 */
.ex-2-square {
  transition: width 1.2s linear 0s;
}
.ex-2-square:active {
  width: 100%;
}
/* /esercizio 2 */

/* esercizio 3 */
.ex-3-square {
  transition: border-radius 0.5s linear 0s;
}
.ex-3-square:hover {
  border-radius: 50%;
}
/* /esercizio 3 */

/* esercizio 4 */
.ex-4-square {
  transition: opacity 0.8s linear 0s;
}
.ex-4-square:hover {
  opacity: 0;
}
/* /esercizio 4 */

/* esercizio 5 */
.ex-5-square {
  transition: transform 1s ease-in-out 0s;
}
.ex-5-square:hover {
  transform: scale(2);
}
.ex-5-square:active {
  transform: scale(0.5);
}
/* /esercizio 5 */

/* esercizio 6 */
.ex-6-img:hover {
  filter: grayscale(1);
}
/* /esercizio 6 */

/* esercizio 7 */
.ex-7-img {
  transition: filter 0.5s linear 0s;
}
.ex-7-img:hover {
  filter: sepia(1) grayscale(0.4);
}
/* /esercizio 7 */

/* esercizio 8 */
.ex-8-img {
  transition: filter 0.8s linear 0s, border-radius 0.8s linear 0s;
}
.ex-8-img:hover {
  filter: contrast(150%) sepia(0.8);
  border-radius: 40px;
}
/* /esercizio 8 */

/* esercizio 9 */
.ex-9-img {
  animation-name: margin-move;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: filter 0.8s linear 0s, border-radius 0.8s linear 0s, transform 0.8s linear 0s;
}
.ex-9-img:hover {
  filter: contrast(150%) sepia(0.8);
  border-radius: 40px;
  transform: scale(1.5);
}
@keyframes margin-move {

  from {margin: 0;}
  to {margin: 50px 100px;}

}
/* /esercizio 9 */

/* esercizio 10 */
.ex-10-icon {
  animation-name: rotation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rotation {

  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}

}
/* /esercizio 10 */

/* esercizio 11 */
.ex-11-icon:hover {
  animation-name: rotation-and-back;
  animation-duration: 2s;
  animation-timing-function: ease;
}
@keyframes rotation-and-back {

  from {transform: rotate(0deg);}
  85% {transform: rotate(270deg);}
  to {transform: rotate(0deg);}
}
/* /esercizio 11 */

/* esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
  animation-name: animation-12-top;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}
.ex-12-button:hover .ex-12-bottom-white {
  animation-name: animation-12-bottom;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}
@keyframes animation-12-top {

  from {left: 10%;}
  50% {left: 65%;}
  to {left: 10%;}
}
@keyframes animation-12-bottom {

  from {right: 20%;}
  50% {right: 65%;}
  to {right: 20%;}

}
/* /esercizio 12 */

/* esercizio 13 */
.ex-13-button:hover .ex-13-top-white {
  animation-name: circle-13-top;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.ex-13-button:hover .ex-13-bottom-white {
  animation-name: circle-13-bottom;
  animation-duration: 2s;
  animation-timing-function: linear;
}
@keyframes circle-13-top {

  from {left: 10%; top: -10px}
  20% {left: calc(90% - 10px); top: -10px;}
  40% {left: calc(90% - 10px); top: calc(100% - 10px);}
  60% {left: -30px; top: calc(100% - 10px);}
  80% {left: -30px; top: -10px;}
  to% {left: 10%; top: -10px;}

}
@keyframes circle-13-bottom {

  from {right: 20%; bottom: -10px}
  20% {right: calc(100% - 30px); bottom: -10px;}
  40% {right: calc(100% - 30px); bottom: calc(100% - 10px);}
  60% {right: -30px; bottom: calc(100% - 10px);}
  80% {right: -30px; bottom: -10px;}
  to% {right: 20%; bottom: -10px;}

}
/* /esercizio 13 */
